:root {
  --scissors-gradient: linear-gradient(#ec9e0e, #eca922);
  --paper-gradient: linear-gradient(
    0deg,
    rgba(72, 101, 244, 1) 0%,
    rgba(86, 113, 245, 1) 100%
  );
  --rock-gradient: linear-gradient(#dc2e4e, #dd405d);
  --cyan: linear-gradient(rgb(64, 185, 206) o rgb(82, 190, 209));
}

#app_game {
  display: grid;
  position: relative;
  place-items: center;
}
#app_game_background {
  max-width: 70%;
  transition: 0.4s;
}
#app_game_background.hidden {
  opacity: 0;
  visibility: hidden;
}
#app_game_choice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#app_game_choice div.choice {
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.4s;
}
div#circle {
  display: grid;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  place-items: center;
  transition: 0.4s;
}
div#circle img {
  height: 50%;
}
#app_game_choice_paper {
  top: 0;
  left: 0;
  transform: translateY(40%);
  background: var(--paper-gradient);
}
#app_game_choice_scissors {
  top: 0;
  left: 50%;
  transform: translate(20%, 40%);
  background: var(--scissors-gradient);
}
#app_game_choice_rock {
  top: 60%;
  background: var(--rock-gradient);
  left: 50%;
  transform: translateX(-50%);
}
#app_game_choice div.hidden {
  opacity: 0;
  visibility: hidden;
}
#app_game_choice div.user_choice {
  top: 0;
  left: 0;
  transition: 1s;
  transform: translate(0, 0);
  pointer-events: none;
  animation: bonuceUser 2s 1s linear forwards;
}
#app_game_choice_UI.scissors {
  background: var(--scissors-gradient);
}
#app_game_choice_UI.rock {
  background: var(--rock-gradient);
}
#app_game_choice_UI.paper {
  background: var(--paper-gradient);
}
#app_game_choice div.choice_UI {
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  pointer-events: none;
  transition: 1s;
  visibility: hidden;
  background-color: red;
  opacity: 0;
}
#app_game_choice div.choice_UI.visible {
  visibility: visible;
  opacity: 1;
  top: 0;
  right: 0;
  transition: 0.5s;
  transform: translate(0, 0);
}
#app_game_choice div.choice_UI.hide_on_sec {
  opacity: 0;
}
#app_game_choice div.choice_UI.visible::before {
  content: "THE HOUSE PICKED";
  position: absolute;
  bottom: -35%;
  right: 0;
  width: 140px;
  transform: translate(5%);
  color: white;
  letter-spacing: 1px;
}
#app_game_choice div.user_choice::before {
  content: "YOU PICKED";
  position: absolute;
  bottom: -35%;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  transition: 1s;
}
@keyframes bonuceUser {
  0% {
    box-shadow: 0 0 80px 30px rgba(255, 0, 0, 0);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 80px 30px rgb(100, 86, 119);
  }
}
